@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #58597A;
    background-color: #add8e6;
}
.conatiner {
    max-width: 140rem;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #ece6e6;
    margin-top: .9rem;
    border-radius: 2rem;
}

.sidebar {
    height: 100%;
    width: 27rem;
}

.navigation {
    border-right: 1px solid #000;
    padding-left: 2rem;
    
}

.logo {
    
    border-bottom: 1px solid #000;
    margin-top: .5rem;
}
.logo-details {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.logo img {
    width: 5rem;
    
}

.logo-text {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1;
}

.sidebar-content {
    margin-top: 2rem;
    margin-left: .5rem;
}

.sidebar-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

ion-icon {
    font-size: 2.7rem;
    
}

.sidebar-details {
    color: #808080;
    cursor: pointer;
}

.sidebar-details:hover {
    background-color: #6f00ff;
    color: #fff;
    padding: 1.2rem;
    border-radius: 2rem;
}



.sidebar-icon h5 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
}

.others {
    margin-top: 2.1rem;
}

.fa-graduation-cap, .fa-lightbulb {
    font-size: 2.7rem;
}

.fa-chart-pie {
    font-size: 2rem;
}

.sidebar-content-extra {
    margin-top: 3.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.homework {
    border-top: 1px solid #000;
    color: #6F00FF;
}

.homeworks {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homework-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
} 

.homework-details p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.fa-book {
    font-size: 2rem; 
}

.homework-icon ion-icon {
    font-size: 2rem;
}

.homework-content {
    margin-top: 2rem;
}

.homework-progress p {
    color: #58597A;
    margin-bottom: .7rem;
    font-size: 1.4rem;
}

.progressline {
    background-color: #EBEBF6;
    border-radius: 1rem;
}

.line {
    height: .5rem;
    width: 80%;
    background-color: #6F00FF;
}

.progress-score {
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
}

.line2 {
    width: 60%;
}

.progress2 {
    margin-top: 2rem;
} 

.line3 {
    width: 40%;
}

.main-content {
    width: 100%;
    /* background-color: red; */
}

.header {
    border-bottom: 1px solid #000;
    padding-bottom: 3.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 50rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #eff0ff;
}

.input-icons i {
    position: absolute;
    top: .4rem;
}
  
.input-icons {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    gap: 5rem;

    /* margin-bottom: 10px; */
}

.search-bar {
    position: relative;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}

::placeholder {
    position: relative;
    left: 2rem;
    font-size: 1.5rem;
}
  
.heading-details {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.heading-details ion-icon {
    color: #58597A;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img {
    width: 4.4rem;
    border-radius: 50%;
}

.profile p {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 500;
}

.subject {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    cursor: pointer;
}

.subject h4 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
}

.subject-details {
    background-color: #f6f7ff;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem; 
}

.subject-details:hover {
    background-color: #6F00FF;
    color: #fff;
}

.main-details {
    display: flex;
    padding: 0 5rem;
}

.details {
    width: 70%;
}
.details2 {
    width: 30%;
}

.title p {
    font-size: 2rem;
    font-weight: 500;
}

.sub-title {
    color: #0000ff;
    margin-left: .6rem;
}

.section-content {
    display: flex;
}

.section1 {
    display: flex;
    align-items: center;
    gap: 3rem;
     
    color: #503B71;
    margin-top: 2rem;
}

.container-subsection {
    display: flex;
    gap: 2rem;
}

.conatiner-section {
    display: flex;
    background-color: #EFF0FF;
    padding: 1.7rem;
    border-radius: 1rem;
}



.section-details h2,
.sub-container-title h2  {
    font-weight: 400;
    letter-spacing: .3rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.clock {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: .7rem;
    border-radius: 1rem;
    gap: 0.9rem;
    background-color: #e1e3fe;
    margin-bottom: 3rem;
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}

.author img {
    width: 5.4rem;
    border-radius: 1.5rem;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #503B71;
}

.date {
    opacity: 0.5;
    font-size: 1.4rem;
}

.book img {
    width: 20rem;
}


.sub-container {
    background-color: #EFF0FF;
    padding: 1.7rem;
    border-radius: 1rem;
}

.sub-container-content-details {
    display: flex;
}

.sub-container-content-details-img img {
    width: 7rem;
}
.themes-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.theme {
    background-color: #EFF0FF;
    padding: 1.7rem 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.theme img {
    width: 6.4rem;
}

.theme h2 {
    margin-top: 1.5rem;
}

.main2 {
    margin-top: 3rem;
}

.details2-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details2-title ion-icon {
    color: #6F00FF;
}



